<table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Sexo</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr>
        <th scope="row">{{alumno.ID}}</th>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellidos}}</td>
        <td>{{alumno.direccion}}</td>
        <td>{{alumno.fnac}}</td>
        <td>{{alumno.sexo}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>